{% extends 'base.html'%} {% block content %}
<div class="container">

    <div class="row justify-content-center mb-3">
        <div class="col-md-9 text-center">
            <h2 id="hometext" class="font-weight-bold">This is a Project created using DJANGO!!!</h2>
            <h4>Project is Live!</h4>
            <h5>Check Out the Skills I have experience working....</h5>
        </div>
    </div>
    <div class="row">
        {% for p in projects %}
        <div class="col-lg-2 col-md-2">
            <div class="text-center">
                {% if p.url %}
                <a href="{{ p.url }}" target="_blank">
                    <img src="{{ p.image.url }}" class="img-fluid mb-2">
                </a>
                {% else %}
                <img src="{{ p.image.url }}" class="img-fluid mb-2"> {% endif %}
            </div>
            <div class="text-center">
                <h3>{{p.title}}</h3>
                <p>{{p.description}}</p>
            </div>
        </div>
        {% endfor%}
    </div>
</div>
{%endblock%}